@font-face {
    font-family: "urbanist";
    src: url('./static/Urbanist-Medium.ttf');
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: urbanist;
}

body{
    background:url('./5590457.jpg' ) no-repeat;
    background-size: cover;
    /*color: #fff;*/
}

.registration-form{
    position: absolute;
    background: transparent;
    backdrop-filter: blur(10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:700px;
    text-wrap: wrap;}

.registration-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;

}

.registration-form p{
    font-size: 16px;
    margin: 15px 0;

}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    background-color:lightgray;
    border-radius: 5px;
    outline: none;

}

.add{
    display: flex;
    gap: 20px;
}
.registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius:2px;
    background-color:lightgray;
}

.registration-form button:hover{
    color: darksalmon;
    
}

select{
    padding: 10px;
    color:darkgray;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
}

